<section class="digital-ocean site-section">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>CAN WE CHAT?</h2>

      <h3>How I Got here</h3>
      <p>
        I'm not only a potential employee, but I'm also a customer. I moved my hosting needs to <i>Digital Ocean</i> in 2018  after hearing great things for some time now and saved myself money and headaches. While on the site one day I decided to check your careers page and blog, then looked into the <i>Glassdoor</i> reviews, then checked out some <i>CrunchBase</i> information and finally a few business articles. I was hooked! <i>Digital Ocean</i> is a Rock Star company and I want to be part of helping increase its Star Power.
      </p>

      <p>
        Knowing this would be an arduous endeavor I thought to myself it would be worth it taking a shot to be part of something I find intriguing, cutting-edge and full of great minds that could push me and also learn from me as well. I took the time out to learn some Ember.js and make this page ( <a class="repo" href="https://github.com/ray760/EmberCustomOnePage"> checkout the repo </a>) because I wanted to set myself apart and let you all know that being part of your team is something that excites me and that feeling is one I haven't felt in a while. At the very least I got to get my feet wet and add another framework to my tool belt, so thanks for that! If you got this far then I hope that we can talk soon about joining your team as Front End Engineer. 
      </p>
    </div>

    <div class="col-md-8 offset-md-2 text-center">
      <ul class="social-icons list-inline">
        <a href="https://github.com/ray760?tab=repositories">
          <li class="list-inline-item">
            <i class="fa fa-github-square fa-3"></i>
          </li>
        </a>
        <a href="https://www.linkedin.com/in/rayarobertson">
          <li class="list-inline-item">
            <i class="fa fa-linkedin-square fa-4" aria-hidden="true"></i>
          </li>
        </a>
        <a href="http://www.rayfolio.com/digitalocean/docs/Ray-Robertson-Resume.pdf">
          <li class="list-inline-item">
            <i class="fa fa-file-word-o fa-fw fa-4" aria-hidden="true"></i>
          </li>
        </a>
        <a href="mailto:ray760@yahoo.com?Subject=Digital Ocean%20Front%20End%20Engineer">
          <li class="list-inline-item">
            <i class="fa fa-envelope-square fa-4" aria-hidden="true"></i>
          </li>
        </a>
      </ul>
    </div>
  </div>
</section>

{{yield}}