<section class="digital-ocean site-section">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>CAN WE CHAT?</h1>

      <h6>How I Got here</h6>
      <p>

      </p>

      <p>
        Knowing this would be an arduous endeavor I thought to myself it would be worth it taking a shot to be part of something I find intriguing, cutting edge and full of great minds that could push me and also learn from me as well. I took the time out to make this page ( <a class="repo" href=""> checkout the repo </a>) because I wanted to set myself apart and let you all know that being part of your team is something that excites me and that feeling is one I haven't felt in a while. If you got this far then I hope that we can talk soon about joining your team as .
      </p>
    </div>

    <div class="col-md-8 offset-md-2 text-center">
      <ul class="social-icons list-inline">
        <a href="https://github.com/ray760?tab=repositories">
          <li class="list-inline-item">
            <i class="fa fa-github-square fa-3"></i>
          </li>
        </a>
        <a href="https://www.linkedin.com/in/rayarobertson">
          <li class="list-inline-item">
            <i class="fa fa-linkedin-square fa-4" aria-hidden="true"></i>
          </li>
        </a>
        <a href="http://www.rayfolio.com">
          <li class="list-inline-item">
            <i class="fa fa-file-word-o fa-fw fa-4" aria-hidden="true"></i>
          </li>
        </a>
        <a href="mailto:ray760@yahoo.com?Subject=Digital Ocean%20UI%20Engineer">
          <li class="list-inline-item">
            <i class="fa fa-envelope-square fa-4" aria-hidden="true"></i>
          </li>
        </a>
      </ul>
    </div>
  </div>
</section>

{{yield}}