<div class="yt-ad-videos">
  <div class="responsive-ytv">
    <iframe id="ytplayer" frameBorder="0" allowFullScreen="1" allow="autoplay; encrypted-media" title="YouTube video player" width="640" height="390" src="https://www.youtube.com/embed/{{P8Fj4b94WhY}}?rel=0&amp;amp;showinfo=0"></iframe>
  </div>
</div>
{{yield}}